<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RootFolder" value=".\" />
		<add key="Pattern" value="*.bak" />
		<add key="Ftp" value="ftp://myftp.com/" />
		<add key="Login" value="" />
		<add key="Password" value="" />
		<add key="UseBinary" value="true" />
		<add key="UsePassive" value="true" />
		<add key="KeepAlive" value="true" />
		<add key="BufferSize" value="4096" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" initializeData="" traceOutputOptions="DateTime" />
				<add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" traceOutputOptions="DateTime" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
