<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Palace" version="2.4.15" targetFramework="net46" />
  <package id="TasksOnTime" version="4.2.14" targetFramework="net46" />
  <package id="TasksOnTime.Scheduling" version="1.3.11.1" targetFramework="net46" />
</packages>